---
layout: base.njk
---

<header>
    <div class="box invert">
        <div class="cluster justify-content:space-between center">
            <a href="/" class="logo">Logo Here</a>
            <nav>
                <ul class="cluster" role="list">
                    <li>
                        <a {% if currentUrl === '/' %} aria-current="page" {% endif %} href="/">Home</a>
                    </li>
                    {% for page in collections.pages %}
                        <li>
                            <a {% if currentUrl === page.url %} aria-current="page" {% endif %} href="{{ page.url }}">
                                {{ page.data.title }}
                            </a>
                        </li>
                    {%- endfor %}
                </ul>
            </nav>
        </div>
    </div>
    {# TODO: FIX GRID REACTION TO IMAGE AKA MAKE IMAGE FIT THE GRID CELL THRIUGH RESIZING #}
</header>
<main>
    {# intro big picture #}
    <section>
        <div class="bg-image box">
            <div class="center">
                <h1 class="">About Us</h1>
                <p>
                    Building a sustainable Indiana
                </p>
            </div>
        </div>
    </section>
    {# Our Story #}
    <section>
        <div class="box">
            <div class="center switcher">
                <div class="stack">
                    <h2 class="">Our Story</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam.</p>
                </div>
                <div class="frame"><img src="../images/skyline.jpg" alt=""></div>
            </div>
        </div>
    </section>
    {# Board Members #}
    <section>
        <div class="box">
            <div class="center">
                <div class="stack">
                    <h2 class="">Board Members</h2>
                    
                        <ul class="cluster justify-content:flex-start">
                            
                            <li>
                                <h3>Alex</h3>
                            </li>
                            <li>
                                <h3>Alex</h3>
                            </li>
                            <li>
                                <h3>Alex</h3>
                            </li>
                            <li>
                                <h3>Alex</h3>
                            </li>
                            <li>
                                <h3>Alex</h3>
                            </li>
                            <li>
                                <h3>Alex</h3>
                            </li>
                            <li>
                                <h3>Alex</h3>
                            </li>
                            <li>
                                <h3>Alex</h3>
                            </li>
                            <li>
                                <h3>Alex</h3>
                            </li>
                            <li>
                                <h3>Alex</h3>
                            </li>
                        </ul>
                    
                </div>
            </div>
        </div>
    </section>
    {# Our Mission #}
    <section>
        <div class="box">
            <div class="center switcher">
                
                <div class="frame"><img src="../images/skyline.jpg" alt=""></div>
                <div class=" stack">
                    <h2 class="">Our Mission</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam.</p>
                </div>
            </div>
        </div>
    </section>
    {# Focus Cards #}
    <section>
        <div class="box">
            <div class="center stack">
                <h2>Staff</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam.</p>
            </div>
            <div class="box center">
                <div class="grid">
                    <div class="box">
                        <div class="stack">
                            <div class="frame staff">
                                <img src="../images/skyline.jpg" alt=""></>
                            </div>
                            <h3 class="text-align:center">Stephanie</h3>
                            <p class="text-align:center">Lorem ipsum dolor sit.</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="stack">
                            <div class="frame staff">
                                <img src="../images/skyline.jpg" alt=""></>
                            </div>
                            <h3 class="text-align:center">Angelica</h3>
                            <p class="text-align:center">Lorem ipsum dolor sit.</p>
                        </div>
                    </div>
                    <div class="box ">
                        <div class="stack">
                            <div class="frame staff">
                                <img src="../images/skyline.jpg" alt=""></>
                            </div>
                            <h3 class="text-align:center">Victoria</h3>
                            <p class="text-align:center">Lorem ipsum dolor sit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {# Footer #}
    <footer>
        <div class="box invert">
            <div class="center grid">
                <div class="stack">
                    <h2>Logo Here</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                </div>
                <div class="cluster justify-content:flex-end">
                    <ul class="" role="list">
                        <li>
                            <a {% if currentUrl === '/' %} aria-current="page" {% endif %} href="/">Home</a>
                        </li>
                        <li>
                            <a {% if currentUrl === '/' %} aria-current="page" {% endif %} href="/">Home</a>
                        </li>
                        <li>
                            <a {% if currentUrl === '/' %} aria-current="page" {% endif %} href="/">Home</a>
                        </li>
                        <li>
                            <a {% if currentUrl === '/' %} aria-current="page" {% endif %} href="/">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</main>