---
layout: base.njk
---

<header>
    <div class="box">
        <div class="cluster justify-content:space-between center">
            <a href="/" class="">Logo Here</a>
            <nav>
                <ul class="cluster" role="list">
                    <li>
                        <a {% if currentUrl === '/' %} aria-current="page" {% endif %} href="/">Home</a>
                    </li>
                    {% for page in collections.pages %}
                        <li>
                            <a {% if currentUrl === page.url %} aria-current="page" {% endif %} href="{{ page.url }}">
                                {{ page.data.title }}
                            </a>
                        </li>
                    {%- endfor %}
                </ul>
            </nav>
        </div>
    </div>
</header>
<main>
    {# intro big picture #}
    <section>
        <div class="bg-image box brand">
            <div class="center">
                <h1 class="">Grants & Partnerships</h1>
                <p>
                    Building a sustainable Indiana
                </p>
            </div>
        </div>
    </section>
    {# Grant Process #}
    <section>
        <div class="box">
            <div class="center">
                <div class="stack">
                    <h2 class="">Grant Guidelines</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam.</p>
                </div>
            </div>
        </div>
    </section>
    <div class="hr-box">
        <hr class="center"></>
    </div>
    {# Grants Cards #}
    <section>
        <div class="box ">
            <div class="center stack">
                <details>
                    <summary>
                        <h2>Grantees</h2>
                    </summary>
                    <div class="grid">
                        <div class="box invert">
                            <div class="stack">
                                <div class="frame">
                                    <img src="images/skyline.jpg" alt=""></>
                                </div>
                                <h4>Our Focus</h4>
                            </div>
                        </div>
                        <div class="box invert">
                            <div class="stack">
                                <div class="frame">
                                    <img src="images/skyline.jpg" alt=""></>
                                </div>
                                <h4>Our Focus</h4>
                            </div>
                        </div>
                        <div class="box invert">
                            <div class="stack ">
                                <div class="frame">
                                    <img src="images/skyline.jpg" alt=""></>
                                </div>
                                <h4>Our Focus</h4>
                            </div>
                        </div>
                    </div>
                </details>
            </div>
        </div>
    </section>
    {# Affiliations #}
    <section>
        <div class="box ">
            <div class="center stack">
                <details>
                    <summary>
                        <h2>Affiliations</h2>
                    </summary>
                    <div class="grid">
                        <div class="box invert">
                            <div class="stack">
                                <div class="frame">
                                    <img src="images/skyline.jpg" alt=""></>
                                </div>
                                <h4>Our Focus</h4>
                            </div>
                        </div>
                        <div class="box invert">
                            <div class="stack">
                                <div class="frame">
                                    <img src="images/skyline.jpg" alt=""></>
                                </div>
                                <h4>Our Focus</h4>
                            </div>
                        </div>
                        <div class="box invert">
                            <div class="stack ">
                                <div class="frame">
                                    <img src="images/skyline.jpg" alt=""></>
                                </div>
                                <h4>Our Focus</h4>
                            </div>
                        </div>
                    </div>
                </details>
            </div>
        </div>
    </section>
    {# CTA Contact #}
    <section>
        <div class="box brand">
            <div class="center">
                <div class="stack">
                    <h2>Contact Us</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam.</p>
                </div>
            </div>
        </div>
    </section>
    {# Footer #}
    <footer>
        <div class="box invert">
            <div class="center grid">
                <div class="stack">
                    <h2>Logo Here</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                </div>
                <div class="cluster justify-content:flex-end">
                    <ul class="" role="list">
                        <li>
                            <a {% if currentUrl === '/' %} aria-current="page" {% endif %} href="/">Home</a>
                        </li>
                        <li>
                            <a {% if currentUrl === '/' %} aria-current="page" {% endif %} href="/">Home</a>
                        </li>
                        <li>
                            <a {% if currentUrl === '/' %} aria-current="page" {% endif %} href="/">Home</a>
                        </li>
                        <li>
                            <a {% if currentUrl === '/' %} aria-current="page" {% endif %} href="/">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</main>