<div class="cover">
    <h1 class="text-align:center">McKinney Family Foundation</h1>
    <p class="text-align:center">Indy Skyline Drawing</p>
    <p class="text-align:center">Indy Skyline Drawing</p>
</div>