---
layout: base.njk
---

<main>
    <section>
        <div class="bg-image box invert">
            <div class="">
                <h1>McKinney Family Foundation</h1>
                <p>Building A Sustainable Indiana</p>
            </div>
        </div>
    </section>
    <section>
        <div class="box invert">
            <div class="switcher wrapper">
                <div class="justify-content:center stack">
                    <h2>Our Mission</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam.</p>
                    <a href="/about-us" class="btn">Hello there</a>
                </div>
                <div class=" frame">
                    <img src="../images/sunrise.jpg" alt=""></>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="box green leaf">
            <div class="center bg-image1">
                <div class="justify-content:center stack">
                    <h2 class="text-align:center">Grants & Partnerships</h2>
                    <p class="text-align:center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <a href="/about-us" class=" text-align:center">Hello there</a>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="box invert">
            <div class="switcher wrapper">
                <div class=" frame">
                    <img src="../images/sunrise.jpg" alt=""></>
                </div>
                <div class="justify-content:center stack">
                    <h2>Our Mission</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam.</p>
                    <a href="/about-us" class="btn">Hello there</a>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="box stack">
            <div class="wrapper">
                <h2 class="text-align:center">News Reel</h2>
                <div class="padding:s2 grid">
                    
                    <div class="stack">
                        <div class="frame">
                            <img src="images/skyline.jpg" alt=""></>
                        </div>
                        <h4>Title of Article</h4>
                        <p>Creating renewable energy jobs and meaningful policy changes to ensure the transition to a sustainable energy economy.</p>
                        <a href="/" class="button">Read More</a>
                    </div>
                    <div class="stack">
                        <div class="frame">
                            <img src="images/skyline.jpg" alt=""></>
                        </div>
                        <h4>Title of Article</h4>
                        <p>Transforming agricultural infrastructure to ensure sustainable methods and improve the distribution, affordability
                            and availability of locally grown nutritious food.</p>
                        <a href="/" class="button">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</main>