---
layout: base.njk
---

<main>
    <section class="bg-image bg-green">
        <div class="box stack">
            <h1>McKinney Family Foundation</h1>
            <p>Building A Sustainable Indiana</p>
        </div>
    </section>
    <section class="wrapper switcher region js-fade">
        <div class="frame">
            <img src="../images/sunrise.jpg" alt="">
        </div>
        <div class="justify-content:center stack">
            <h2>Our Team</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam.</p>
            <button href="/our-mission">Hello there</button>
        </div>
    </section>
    <section class="wrapper switcher flex-wrap:wrap-reverse region js-fade">
        <div class="justify-content:center stack ">
            <h2>Our Mission</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam.</p>
            <button href="/our-mission">Hello there</button>
        </div>
        <div class="frame">
            <img src="../images/sunrise.jpg" alt="">
        </div>
    </section>
    <section class="wrapper switcher region js-fade">
        <div class="frame">
            <img src="../images/sunrise.jpg" alt="">
        </div>
        <div class="justify-content:center stack">
            <h2>Grants & Partnerships</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam.</p>
            <button href="/our-mission">Hello there</button>
        </div>
    </section>
    <section class="wrapper region-bottom stack js-fade">
        <h2 class="text-align:center" style="margin: auto;">Community</h2>
        <div class=" grid">
            <div class="stack">
                <div class="frame">
                    <img src="images/skyline.jpg" alt="">
                </div>
                <h3>Title of Article</h3>
                <p>Creating renewable energy jobs and meaningful policy changes to ensure the transition to a sustainable energy economy.</p>
                <a href="/" class="button">Read More</a>
            </div>
            <div class="stack">
                <div class="frame">
                    <img src="images/skyline.jpg" alt="">
                </div>
                <h3>Title of Article</h3>
                <p>Transforming agricultural infrastructure to ensure sustainable methods and improve the distribution, affordability
                    and availability of locally grown nutritious food.</p>
                <a href="/" class="button">Read More</a>
            </div>
        </div>
    </section>
</main>