---
layout: base.njk
---

<header>
    <div class="box nav">
        <div class="wrapper cluster justify-content:space-between">
            <a href="/" class="logo">
                <img src="../images/mff-logo.svg" alt=""></>
            </a>
            <nav>
                <ul class="cluster" role="list">
                    {% for page in collections.pages %}
                        <li>
                            <a {% if currentUrl === page.url %} aria-current="page" {% endif %} href="{{ page.url }}">
                                {{ page.data.title }}
                            </a>
                        </li>
                    {%- endfor %}
                </ul>
            </nav>
        </div>
    </div>
</header>
<main>
    <section>
        <div class="bg-image box invert">
            <div class="">
                <h1>Our Mission</h1>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </section>
    <section>
        <div class="wrapper">
            <div class="box green with-sidebar">
                <h3>Our Mission</h3>
                <p>Creating renewable energy jobs and meaningful policy changes to ensure the transition to a sustainable energy economy.</p>
            </div>
           
            <div class="box with-sidebar">
                <h3>Focus Areas</h3>
                <div class="stack">
                    <p>
                        <strong>Energy</strong>: Creating renewable energy jobs and meaningful policy changes to ensure the transition to a
                            sustainable energy economy.</p>
                    <p>
                        <strong>Energy</strong>: Creating renewable energy jobs and meaningful policy changes to ensure the transition to a
                            sustainable energy economy.</p>
                    <p>
                        <strong>Energy</strong>: Creating renewable energy jobs and meaningful policy changes to ensure the transition to a
                            sustainable energy economy.</p>
                </div>
            </div>
        </section>
        <footer>
            <div class="box invert nav">
                <div class="wrapper cluster justify-content:space-between">
                    <a href="/" class="logo">
                        <img src="../images/mff-logo.svg" alt=""></>
                    </a>
                    <nav>
                        <ul class="cluster" role="list">
                            <li>
                                <a {% if currentUrl === '/' %} aria-current="page" {% endif %} href="/">Home</a>
                            </li>
                            {% for page in collections.pages %}
                                <li>
                                    <a {% if currentUrl === page.url %} aria-current="page" {% endif %} href="{{ page.url }}">
                                        {{ page.data.title }}
                                    </a>
                                </li>
                            {%- endfor %}
                        </ul>
                    </nav>
                </div>
            </div>
        </footer>
    </main>