---
layout: base.njk
---

<header>
    <div class="box nav">
        <div class="wrapper cluster justify-content:space-between">
            <a href="/" class="logo">
                <img src="../images/mff-logo.svg" alt=""></>
            </a>
            <nav>
                <ul class="cluster" role="list">
                    {% for page in collections.pages %}
                        <li>
                            <a {% if currentUrl === page.url %} aria-current="page" {% endif %} href="{{ page.url }}">
                                {{ page.data.title }}
                            </a>
                        </li>
                    {%- endfor %}
                </ul>
            </nav>
        </div>
    </div>
</header>
<main>
    <section>
        <div class="bg-image box invert">
            <div class="">
                <h1>Our Team</h1>
                <p>The McKinney Family Foundation Team.</p>
            </div>
        </div>
    </section>
    
    <section>
        <div class="box stack">
            <div class="wrapper">
                <h2 class="text-align:center">Staff</h2>
                <div class="padding:s2 grid">
                    <div class="stack">
                        <div class="frame staff">
                            <img src="../images/skyline.jpg" alt=""></>
                        </div>
                        <h3 class="text-align:center">Name</h3>
                        <p class="text-align:center">Title.</p>
                    </div>
                    <div class="stack">
                        <div class="frame staff">
                            <img src="../images/skyline.jpg" alt=""></>
                        </div>
                        <h3 class="text-align:center">Name</h3>
                        <p class="text-align:center">Title.</p>
                    </div>
                    <div class="stack">
                        <div class="frame staff">
                            <img src="../images/skyline.jpg" alt=""></>
                        </div>
                        <h3 class="text-align:center">Name</h3>
                        <p class="text-align:center">Title.</p>
                    </div>
                     
                    
                    
                </div>
            </div>
        </div>
    </section>
    
    <footer>
        <div class="box invert nav">
            <div class="wrapper cluster justify-content:space-between">
                <a href="/" class="logo">
                    <img src="../images/mff-logo.svg" alt=""></>
                </a>
                <nav>
                    <ul class="cluster" role="list">
                        <li>
                            <a {% if currentUrl === '/' %} aria-current="page" {% endif %} href="/">Home</a>
                        </li>
                        {% for page in collections.pages %}
                            <li>
                                <a {% if currentUrl === page.url %} aria-current="page" {% endif %} href="{{ page.url }}">
                                    {{ page.data.title }}
                                </a>
                            </li>
                        {%- endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </footer>
</main>