---
layout: base.njk
---

<main>
    <section>
        <div class="bg-image box invert">
            <div class="">
                <h1>Our Team</h1>
                <p>The McKinney Family Foundation Team.</p>
            </div>
        </div>
    </section>
    <section>
        <div class="box green leaf2">
            <div class="wrapper  with-sidebar">
                <h3>Board</h3>
                <div
                    class="stack">
                    {# {% for member in collections.board %} #}
                    <p class="board">
                        <strong>Energy</strong>
                        <br></>Founding Director
                    </p>
                    <p>
                        <strong>Energy</strong>
                        <br></>Founding Director
                    </p>
                    <p>
                        <strong>Energy</strong>
                        <br></>Founding Director
                    </p>
                    <p>
                        <strong>Energy</strong>
                        <br></>Founding Director
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="box ">
            <div class="wrapper">
                <h2 class="text-align:center">Staff</h2>
                <div class="grid">
                    <div class="box">
                        <div class="frame staff">
                            <img src="../images/skyline.jpg" alt="">
                        </div>
                        <h3 class="text-align:center">Name</h3>
                        <p class="text-align:center">Title.</p>
                    </div>
                    <div class="box ">
                        <div class="frame staff">
                            <img src="../images/skyline.jpg" alt="">
                        </div>
                        <h3 class="text-align:center">Name</h3>
                        <p class="text-align:center">Title.</p>
                    </div>
                    <div class="box">
                        <div class="frame staff">
                            <img src="../images/skyline.jpg" alt="">
                        </div>
                        <h3 class="text-align:center">Name</h3>
                        <p class="text-align:center">Title.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>