{% extends "layouts/base.html" %} {% block content %} {% include "partials/hero.html" %}
<article class="wrapper region border-bottom js-fade with-sidebar-right">
  <div class="flow">
    <h2>{{ mission.title }}</h2>
    <p>{{ mission.summary }}</p>
  </div>
  <div class="frame">
    <img loading="lazy" src="{{ mission.image }}" alt="{{ mission.imageAlt }}" />
  </div>
</article>

<article class="wrapper border-bottom region js-fade">
  <h2 class="text-align:center">Focus Areas</h2>
  <ul class="grid mt-l-xl" role="list" style="--grid-placement: auto-fit">
    <li class="card">
      <div class="flow">
        <div class="frame">
          <img src="/images/wind-solar.jpg" alt="" />
        </div>
        <h3>Energy</h3>
        <p>
          Creating renewable energy jobs and meaningful policy changes to ensure the
          transition to a sustainable energy economy.
        </p>
      </div>
    </li>
    <li class="card">
      <div class="flow">
        <div class="frame">
          <img src="/images/sprout.jpg" alt="" />
        </div>
        <h3>Agriculture</h3>
        <p>
          Transforming agricultural infrastructure to ensure sustainable methods and
          improve the distribution, affordability and availability of locally grown
          nutritious food.
        </p>
      </div>
    </li>
    <li class="card">
      <div class="flow">
        <div class="frame">
          <img src="/images/diversity.jpg" alt="" />
        </div>
        <h3>Leadership</h3>
        <p>
          Ensuring the long-term viability of the nonprofit environmental sector through
          capacity building and leadership development.
        </p>
      </div>
    </li>
  </ul>
</article>
{% include "partials/board-list.html" %} {% include "partials/staff-list.html" %} {%
endblock %}
