{% extends "layouts/base.html" %}
{% block content %}
    {% include "partials/hero.html" %}
    <article class="wrapper region js-fade content" style="margin-top: 0;">
        <toggle-section class="flow" open="true">
            {% renderFile "src/content/grants-and-partnerships/funding-guidelines.md" %}
        </toggle-section>
        <toggle-section class="flow" open="false">
            {% renderFile "src/content/grants-and-partnerships/funding-restrictions.md" %}
        </toggle-section>
        <toggle-section class="flow" open="false">
            {% renderFile "src/content/grants-and-partnerships/inquires.md" %}
        </toggle-section>
        {% include "partials/grantee-toggle.html" %}
        {% include "partials/partnership-toggle.html" %}
        <script type="module" src="/js/toggle-section.js"></script>
    </article>
{% endblock %}