{% extends "layouts/base.html" %}
{% block content %}
  {% include "partials/hero.html" %}

  <article style="margin-top: 0;" class="bg-green-1">
    <div class="wrapper region prose" style="padding-top: var(--space-m-l);padding-bottom: var(--space-m-l);">
      <div class="flow">
        <p style="max-width: unset; text-align:center">The McKinney Family Foundation strives to be the foremost catalyst for environmental advocacy, progress, and leadership in Indiana.</p>
      </div>
    </div>

  </article>

  <article style="margin-top: 0;" class="wrapper region border-bottom flex-wrap:wrap-reverse js-fade with-sidebar-right">
    <div class="flow">
      <h2>{{ about_title }}</h2>
      <p>{{ about_summary }}</p>

      <div class="with-icon">
        <a class="link" href="{{ about_buttonUrl }}">{{ about_buttonText }}</a>

        <svg
        class="icon"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewbox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
      >
          <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"
/>
        </svg>
      </div>
    </div>
    <div class="frame">
      <img loading="lazy" src="{{ about_image }}" alt="{{ about_imageAlt }}"/>
    </div>
  </article>

  <article style="margin-top: 0;" class="wrapper border-bottom region js-fade with-sidebar-left">
    <div class="frame">
      <img loading="lazy" src="{{ grants_image }}" alt="{{ grants_imageAlt }}"/>
    </div>
    <div class="flow">
      <h2>{{ grants_title }}</h2>
      <p>{{ grants_summary }}</p>

      <div class="with-icon">
        <a class="link" href="{{ grants_buttonUrl }}">{{ grants_buttonText }}</a>

        <svg
        class="icon"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewbox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
      >
          <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"
/>
        </svg>
      </div>
    </div>
  </article>

  {% include "partials/featured-news.html" %}
{% endblock %}