{% extends "layouts/base.html" %}
{% block content %}
    {% include "partials/hero.html" %}
    <section class="wrapper switcher region js-fade">
        <div class="frame">
            <img loading="lazy" src="{{ mission.image }}" alt="{{ mission.imageAlt }}">
        </div>
        <div class="justify-content:center stack-sm">
            <h2>{{ mission.title }}</h2>
            <p>{{ mission.summary }}</p>

            <button class="lime">
                <a href="{{ mission.buttonUrl }}">{{ mission.buttonText }}</a>
            </button>
        </div>
    </section>
    <section class="wrapper switcher flex-wrap:wrap-reverse region js-fade">
        <div class="justify-content:center stack-sm">
            <h2>{{ about.title }}</h2>
            <p>{{ about.summary }}</p>

            <button class="lime">
                <a href="{{ about.buttonUrl }}">{{ about.buttonText }}</a>
            </button>
        </div>
        <div class="frame">
            <img loading="lazy" src="{{ about.image }}" alt="{{ about.imageAlt }}">
        </div>
    </section>

    <section class="wrapper switcher region js-fade">
        <div class="frame">
            <img loading="lazy" src="{{ grants.image }}" alt="{{ grants.imageAlt }}">
        </div>
        <div class="justify-content:center stack-sm">
            <h2>{{ grants.title }}</h2>
            <p>{{ grants.summary }}</p>
            <button class="lime">
                <a href="{{ grants.buttonUrl }}">{{ grants.buttonText }}</a>
            </button>
        </div>
    </section>

    {% include "partials/featured-news.html" %}
{% endblock %}