{% extends "layouts/base.html" %}
{% block content %}
    {% include "partials/hero.html" %}

    <article style="margin-top: 0;" class="bg-green-1">
        <div class="wrapper region prose" style="padding-top: var(--space-m-l);padding-bottom: var(--space-m-l);">
            <div class="flow">
                <p style="max-width: unset; text-align:center">The McKinney Family Foundation (MFF) envisions a just and equitable transition to a sustainable clean energy economy; one that will advance climate change solutions and strengthen the field of environmental students, professionals, civic leaders, and philanthropists.</p>
            </div>
        </div>

    </article>

    <article class="wrapper region border-bottom js-fade flex-wrap:wrap-reverse with-sidebar-right">
        <div class="flow">
            <h2>Equitable Climate Change Solutions</h2>
            <p>MFF is deliberate in funding inclusive democracy in order to address economic and health disparities and their impacts on environmental outcomes. Inclusive democracy ensures a society of informed voices creating systemic change, particularly centering underrepresented communities. This work amplifies the potential opportunities to improve state and municipal environmental policies in Indiana.</p>
            <p>Through the McKinney Midwest Climate Project (MMCP), more than forty municipal governments across the state have accelerated progress toward their sustainability-related goals, begun with assistance from <a class="link" target=”_blank” href="https://eri.iu.edu/climate-project/index.html">Indiana University’s Environmental Resilience Institute (ERI)</a> programs and students. Climate change solutions include Indiana communities taking action to manage and reduce local greenhouse gas emissions and energy costs, creating climate action plans, and advancing green initiatives to expand solar energy or electrify transportation.</p>
        </div>
        <div class="frame">
            <img loading="lazy" src="{{ vision_image }}" alt="{{ vision_imageAlt }}"/>
        </div>
    </article>

    <article class="wrapper region border-bottom js-fade with-sidebar-left">
        <div class="frame">
            <img loading="lazy" src="{{ vision_image }}" alt="{{ vision_imageAlt }}"/>
        </div>
        <div class="flow">
            <h2>Sustainable Energy Economy Framework</h2>
            <p>MFF is resolute in our efforts to expand a sustainable clean energy economy through renewable energy jobs creation and meaningful policy change.</p>
            <p>We partner with Indiana-based private, public, and nonprofit organizations that develop and implement programs to reach sustainability goals.</p>
            <p>MFF’s work helps build the framework to support a clean energy economy. Strategies include active partnerships with the Indiana Energy Independence Fund and Advanced Energy United.</p>
        </div>
    </article>

    <article class="wrapper region border-bottom js-fade flex-wrap:wrap-reverse with-sidebar-right">
        <div class="flow">
            <h2>Empowered Leaders and Communities</h2>
            <p>MFF is dedicated to ensuring the long-term viability of the nonprofit environmental sector through capacity building and leadership development.</p>
            <p>Our work supports partnerships that encourage civic engagement and education across a spectrum of people curious for solutions – students, educators, communities, and experts.</p>
            <p>MFF supports the next generation of sustainability leaders and contributes to climate and resilience projects through professional development opportunities and training. Funded programs empower those working in the field with resources and tools for organizational, professional, and personal growth. Examples include comprehensive, specific training in environmental fundraising, social media, and activism in addition to holistic skills training to address rejuvenation, burnout, and climate change grief for environmental organization staff.</p>
        </div>
        <div class="frame">
            <img loading="lazy" src="{{ vision_image }}" alt="{{ vision_imageAlt }}"/>
        </div>
    </article>

{% endblock %}