@font-face {
  font-family: Barlow Condensed;
  src: url(/css/lib/fonts/barlowcondensed-bold.woff2) format("woff2"), url(/css/lib/fonts/barlowcondensed-bold.woff) format("woff");
  font-weight: 700;
  font-style: normal
}

:root {
  --font-plain: Helvetica Neue, Helvetica, Arial, sans-serif;
  --font-serif: Georgia, serif;
  --font-special: Barlow Condensed, Helvetica, sans-serif;
  --font-mono: Menlo, Courier, Courier New, Andale Mono, monospace;


  --light: #fefbe9;

  --dark-green: #183a1d;
  --light-green: #e1eedd;
  --light-green2: #b0c3aa;
  --lime: #73a24e;
  --lime2: #a9c25d;


  --step--2: clamp(0.91rem, calc(0.89rem + 0.10vw), 0.96rem);
  --step--1: clamp(1.09rem, calc(1.05rem + 0.21vw), 1.20rem);
  --step-0: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.50rem);
  --step-1: clamp(1.58rem, calc(1.46rem + 0.59vw), 1.88rem);
  --step-2: clamp(1.89rem, calc(1.71rem + 0.89vw), 2.34rem);
  --step-3: clamp(2.27rem, calc(2.01rem + 1.29vw), 2.93rem);
  --step-4: clamp(2.72rem, calc(2.36rem + 1.83vw), 3.66rem);
  --step-5: clamp(3.27rem, calc(2.75rem + 2.56vw), 4.58rem);
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));

  --measure: 75ch;
  --line-height: var(--ratio);
  --line-height-small: calc(0.8*var(--ratio));
  --border-thin: var(--s-4);
  --border-thick: var(--s-2);
  line-height: var(--ratio);
  font-size: calc(.333vw + 1em);
  font-family: var(--font-plain);
  background-color: var(--color-light);
  color: var(--color-dark)
}

/* typography */
h1 {
  font-size: var(--step-4);
}

h2 {
  font-size: var(--step-3);
}

h3 {
  font-size: var(--step-2);
}

h4 {
  font-size: var(--step-1);
}

p {
  font-size: var(--step-0);
}

a {
  font-size: var(--step--1);
  text-decoration: none;
}

/* Very Smol Reset */

* {
  box-sizing: border-box;
  margin: 0;
}

details summary {
  cursor: pointer;
}

details summary>* {
  display: inline;
}

details>summary {

  list-style: none;
}

summary {}

summary::-webkit-details-marker {
  display: none
}

summary::after {
  content: ' ►';
  display: inline;
  padding: 5px;
  font-size: 20px;
}

details[open] summary:after {
  content: " ▼";
  border-bottom: none;
}

details[open] summary {
  border-bottom: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
}


/* stack primitive */

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack>* {
  margin-block: 0;
}

.stack>*+* {
  margin-block-start: var(--s0, 1.5rem);
}

/* cluster primitive */

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s1, 1rem);
  justify-content: flex-start;
  align-items: center;
}

/* box primitive */

.box {
  padding: var(--s2);
  color: var(--dark-green);
  background-color: var(--light);
}

.box * {
  color: inherit;
}

.box.invert {
  color: var(--light);
  background-color: var(--dark-green);
}

.box.green {
  color: var(--dark-green);
  background-color: var(--light-green2);
}

.box.nav {
  padding: var(--s0) var(--s2);
}

.box .card {
  padding: var(--s0) 0;
}

.wrapper {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.full-width {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
}

/* switcher primitive */

.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s2);
}

.switcher>* {
  flex-grow: 1;
  flex-basis: calc((30rem - 100%) * 999);
}

.switcher> :nth-last-child(n+ 5),
.switcher> :nth-last-child(n+ 5)~* {
  flex-basis: 100%;
}

/* frame primitive */

.frame {
  --n: 16;
  --d: 9;
  aspect-ratio: var(--n) / var(--d);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame>img,
.frame>video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.frame.staff {
  --n: 1;
  --d: 1;
  aspect-ratio: var(--n) / var(--d);
  border-radius: 50%;
  width: auto;
  height: auto;
}

.center {
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--measure);
}

/* grid */
.grid {
  display: grid;
  grid-gap: var(--s2);
}

@supports (width: min(250px, 100%)) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  }
}

.with-sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s2);
}

.with-sidebar> :first-child {
  flex-grow: 1;
  width: 300px;
}

.with-sidebar> :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
}


.reel {
  display: flex;
  block-size: auto;
  overflow-x: auto;
  overflow-y: hidden;
}

.reel::-webkit-scrollbar {
  block-size: 1rem;
}

.reel::-webkit-scrollbar-track {
  background-color: var(--color-brand-text);

}

.reel::-webkit-scrollbar-thumb {
  background-color: var(--color-lightish);
  background-image: linear-gradient(var(--color-brand-text) 0, var(--color-brand-text) 0.25rem, var(--color-lightish) 0.25rem, var(--color-lightish) 0.75rem, var(--color-brand-text) 0.75rem);
}

.reel>* {
  flex: 0 0 auto;
}

.reel>img {
  block-size: 100%;
  flex-basis: auto;
  width: auto;
}

.reel>*+* {
  margin-inline-start: 1rem;
}

.reel.overflowing {
  padding-block-end: 1rem;
}


/* utility */
.container {
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}



.text-align\:center {
  text-align: center;
}

.max-width\:30ch {
  max-width: 30ch;
}

.align-self\:flex-end {
  align-self: flex-end;
}

.justify-content\:space-between {
  justify-content: space-between;
}

.justify-content\:flex-end {
  justify-content: flex-end;
}

.justify-content\:flex-start {
  justify-content: flex-start;
}

.align-items\:center {
  align-items: center;
}

.justify-content\:center {
  justify-content: center;
}

.bg-dark {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.color\:color-dark {
  color: var(--color-dark);
}

.color\:color-light {
  color: var(--color-light);
}

.padding\:s2 {
  padding: var(--s2) 0;

}

.border-bottom {
  border-bottom: solid var(--border-thin) #19220c;
  width: fit-content;
}

.flex-wrap\:wrap-reverse {
  flex-wrap: wrap-reverse;
}

.padding\:s3 {
  padding: var(--s3);
}

.aff {
  inline-size: 125px;
}

.grid-gap\:0 {
  grid-gap: 0;
}

.radius {
  border-radius: 0.50rem;
}

.logo {
  width: 200px;
}


.measure {
  max-width: var(--measure);
}

/* bg-image */

.bg-image {
  --bg-image: url("../images/sunrise.jpg");
  --bg-image-opacity: 0.60;

  display: grid;
  place-content: center;
  text-align: center;
  min-height: 600px;

  position: relative;
  isolation: isolate;
}

.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: var(--lime);
  border-radius: 0.6em;
  align-self: flex-start;
  padding: var(--s-2) var(--s0);
  text-decoration: none;
  text-align: center;
}

.btn:hover,
.btn:focus {
  color: #fff;
}


.bg-image::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  filter: contrast(0.6);
  opacity: var(--bg-image-opacity);
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
}

.leaf {
  background-image: url(../images/leaf1.svg), url(../images/leaf1-rotated.svg);
  background-position: right bottom, left top;
  background-size: 25vh, 25vh;
  background-repeat: no-repeat, no-repeat;
}

.leaf2 {
  background-image: url(../images/leaf4.svg);
  background-position: right;
  background-repeat: no-repeat;

}

nav ul {
  list-style: none;
}

nav [aria-current="page"] {
  text-decoration: underline var(--dark-green);
}

