:root {
  --font-plain: 'Roboto', system-ui, sans-serif;
  --font-serif: 'Arvo', system-ui, serif;
  --font-special: Barlow Condensed, Helvetica, sans-serif;
  --font-mono: Menlo, Courier, Courier New, Andale Mono, monospace;


  --light: #f8f9fa;

  --dark-green: #183a1d;
  --light-green: #e1eedd;
  --light-green2: #b0c3aa;
  --lime: #73a24e;
  --lime2: #a9c25d;

  --text-size-0: clamp(0.83rem, 0.9rem + -0.32vw, 0.67rem);
  --text-base: clamp(1rem, 1rem + 0vw, 1rem);
  --text-size-1: clamp(1.2rem, 1.08rem + 0.59vw, 1.5rem);
  --text-size-2: clamp(1.44rem, 1.12rem + 1.58vw, 2.25rem);
  --text-size-3: clamp(1.73rem, 1.09rem + 3.21vw, 3.38rem);
  --text-size-4: clamp(2.07rem, 0.91rem + 5.83vw, 5.06rem);
  --text-size-5: clamp(2.49rem, 0.5rem + 9.96vw, 7.59rem);

  --space-size-0: clamp(0.83rem, 0.9rem + -0.32vw, 0.67rem);
  --space-base: clamp(1rem, 1rem + 0vw, 1rem);
  --space-size-1: clamp(1.2rem, 1.08rem + 0.59vw, 1.5rem);
  --space-size-2: clamp(1.44rem, 1.12rem + 1.58vw, 2.25rem);
  --space-size-3: clamp(1.73rem, 1.09rem + 3.21vw, 3.38rem);
  --space-size-4: clamp(2.07rem, 0.91rem + 5.83vw, 5.06rem);
  --space-size-5: clamp(2.49rem, 0.5rem + 9.96vw, 7.59rem);

  --ratio: 1.5;

  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));

  --measure: 75ch;
  --line-height: var(--ratio);
  --line-height-small: calc(0.8*var(--ratio));
  --border-thin: var(--s-4);
  --border-thick: var(--s-2);

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;

  font-size: var(--text-size-1);
  background-color: var(--light);
  color: var(--dark-green);
  overflow-x: hidden;
}

/* Modern reset: https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;

}

/* A elements that don't have a class get default styles */

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* Global style */
h1,
h2,
h3,
h4 {
  line-height: 1.1;
  font-weight: 900;
  font-family: var(--font-serif);
}

h1 {
  font-size: var(--text-size-4);
}

h2 {
  font-size: var(--text-size-3);
}

h3 {
  font-size: var(--text-size-2);
}

p,
li {
  max-width: 60ch;
  font-family: var(--font-plain);
  font-size: var(--text-size-0);
}

h1,
h2,
h3 {
  max-width: 20ch;
}

a {
  color: currentcolor;
  text-decoration-color: var(--color-primary);
  font-family: var(--font-plain);
  font-size: var(--text-size-0);
  
}

nav ul li a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Prose */

h2,
h3,
h4 {
  --flow-space: var(--space-size-3);
}

h2+*,
h3+*,
h4+* {
  --flow-space: var(--space-base);
}

.text strong {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* stack primitive */

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack>* {
  margin-block: 0;
}

.stack>*+* {
  margin-block-start: var(--s1, 1.5rem);
}

.stack-sm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack-sm>* {
  margin-block: 0;
}

.stack-sm>*+* {
  margin-block-start: var(--s-1, 1rem);
}

/* cluster primitive */

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s0, 1rem);
  justify-content: flex-start;
  align-items: center;
}

/* box primitive */

.box {
  padding: 0 var(--s1);
}

.box * {
  color: inherit;
}

.box.invert {
  color: var(--light);
  background-color: var(--dark-green);
}

.box.green {
  color: var(--dark-green);
  background-color: var(--light-green2);
}



/* switcher primitive */

.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s1);
}

.switcher>* {
  flex-grow: 1;
  flex-basis: calc((30rem - 100%) * 999);
}

.switcher> :nth-last-child(n+ 5),
.switcher> :nth-last-child(n+ 5)~* {
  flex-basis: 100%;
}

/* frame primitive */

.frame {
  --n: 16;
  --d: 9;
  aspect-ratio: var(--n) / var(--d);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;

}


.frame>img,
.frame>video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.frame.staff {
  --n: 1;
  --d: 1;
  aspect-ratio: var(--n) / var(--d);
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

/* grid */
.grid {
  display: grid;
  gap: var(--s2);
}


.gap\:s3 {
  gap: var(--s3);

}

@supports (width: min(250px, 100%)) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
  }

  .grid.news {
    grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
  }
}

.with-sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s2);
}

.with-sidebar> :first-child {
  flex-grow: 1;
}

.with-sidebar> :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
}


.reel {
  display: flex;
  block-size: auto;
  overflow-x: auto;
  overflow-y: hidden;
}

.reel::-webkit-scrollbar {
  block-size: 1rem;
}

.reel::-webkit-scrollbar-track {
  background-color: var(--color-brand-text);

}

.reel::-webkit-scrollbar-thumb {
  background-color: var(--color-lightish);
  background-image: linear-gradient(var(--color-brand-text) 0, var(--color-brand-text) 0.25rem, var(--color-lightish) 0.25rem, var(--color-lightish) 0.75rem, var(--color-brand-text) 0.75rem);
}

.reel>* {
  flex: 0 0 auto;
}

.reel>img {
  block-size: 100%;
  flex-basis: auto;
  width: auto;
}

.reel>*+* {
  margin-inline-start: 1rem;
}

.reel.overflowing {
  padding-block-end: 1rem;
}


/* utility */


.text-align\:center {
  text-align: center;
}

.max-width\:30ch {
  max-width: 30ch;
}

.align-self\:flex-end {
  align-self: flex-end;
}

.justify-content\:space-between {
  justify-content: space-between;
}

.justify-content\:flex-end {
  justify-content: flex-end;
}

.justify-content\:flex-start {
  justify-content: flex-start;
}

.align-items\:center {
  align-items: center;
}

.justify-content\:center {
  justify-content: center;
}

.bg-green {
  background-color: var(--dark-green);
  color: var(--light);
}

.color\:color-dark {
  color: var(--color-dark);
}

.margin\:auto {
  margin: auto;
}

.color\:color-light {
  color: var(--color-light);
}

.padding\:s0 {
  padding: var(--s0) 0;

}

.padding\:s0 {
  padding: var(--s0) 0;

}

.border-bottom {
  border-bottom: solid var(--border-thin) #19220c;
  width: fit-content;
}

.flex-wrap\:wrap-reverse {
  flex-wrap: wrap-reverse;
}

.padding\:s3 {
  padding: var(--s3);
}

.aff {
  inline-size: 125px;
}

.grid-gap\:0 {
  grid-gap: 0;
}

.radius {
  border-radius: 0.50rem;
}

.logo {
  width: 200px;
}


.measure {
  max-width: var(--measure);
}

.hero {
  display: grid;
  height: calc(300px + 25vmin);
}

.hero>* {
  grid-area: 1/-1;
}

.hero__media {
  width: 100%;
  height: 100%;
  min-height: 0;
  object-fit: cover;
}

.hero__content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--light);
}

.hero:after {
  content: "";
  background-color: var(--dark-green);
  opacity: 0.5;
  grid-area: 1/-1;
}



a:focus,
button:focus,
input:focus {
  outline: 2px solid var(--lime);
  outline-offset: 2px;
}


button {
  color: var(--light);
  background-color: var(--dark-green);
  border-radius: 16px;
  border: 0;
  padding: var(--s-3) var(--s0);
  width: fit-content;
}

button:hover {
  background-color: var(--lime);
  border-radius: 16px;
  border: 0;
  padding: var(--s-3) var(--s0);
  width: fit-content;
}

.link {
  width: fit-content;
}

.link:hover {
  text-decoration: underline currentColor;
}


.leaf {
  background-image: url(../images/leaf1.svg), url(../images/leaf1-rotated.svg);
  background-position: right bottom, left top;
  background-size: 25vh, 25vh;
  background-repeat: no-repeat, no-repeat;
}

.leaf2 {
  background-image: url(../images/leaf4.svg);
  background-position: right;
  background-repeat: no-repeat;

}

.nav {
  padding: var(--s-1) 0;
}

nav ul {
  padding: 0;
}

nav [aria-current="page"] {
  text-decoration: underline 3px var(--lime);
}

.skip-link {
  position: absolute;
  top: var(--s0);
  left: var(--s0);
  z-index: 99;
}

.skip-link:not(:focus) {
  border: 0;
  clip: rect(0 0 0 0);
  height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/* Utilities */

/* 
  FLOW UTILITY
  Info: https://piccalil.li/quick-tip/flow-utility/ 
  */
.flow>*+* {
  margin-top: var(--flow-space, var(--space-size-1));
}

/* 
  REGION UTILITY
  Consistent block padding for page sections
  */
.region {
  padding-block-start: var(--s3);
}

.region-bottom {
  padding-block: var(--s3);
}

/*
  WRAPPER UTILITY
  A common wrapper/container
  */
.wrapper {
  /* margin-inline: auto;
  width: clamp(16rem, 95vw, 85rem);
  padding-inline: var(--space-size-1);
  position: relative; */
  --max-width:  1110px;
  --container-padding:  1rem;
  width: min(var(--max-width), 100% - (var(--container-padding) * 2));
  margin-inline: auto;

}

/* 
  VISUALLY HIDDEN UTILITY
  Info: https://piccalil.li/quick-tip/visually-hidden/ 
  */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}


.full-bleed {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.full-bleed>* {
  margin-inline: auto;
  width: clamp(16rem, 95vw, 85rem);
  padding-inline: var(--space-size-1);
  position: relative;
}


/*
Custom elements are inline by default
*/
toggle-section {
  display: block;
}

toggle-section h2 {
  font-family: var(--font-serif);
}

/*
Only applies if script runs and 
`role="region"` is added
*/
toggle-section[role="region"] {
  border-width: 2px 0;
  border-style: solid;
}

toggle-section[role="region"]+toggle-section {
  border-top: 0;
}

/* card */

.cards>ul {
  list-style: none;
}

.card+.card {
  margin-top: 1.5rem;
}

@supports (display: grid) {
  .cards>ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
  }

  .cards>ul.fit {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
  }

  .card+.card {
    margin-top: 0;
  }

  @media (max-width: 400px) {
    .cards>ul {
      grid-gap: 2.5rem;
    }
  }
}

.card {
  border: 2px solid;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card .text {
  padding: 1rem;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.card p {
  max-width: 60ch;
}

.card .img {
  height: 9.5rem;
}


.card .img img {
  width: 100%;
  height: 100%;
  border-radius: 0.15rem;

  object-fit: cover;
}

.card a {
  outline: none;
}

.card strong a {
  text-decoration: none;
}

.card strong a::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.card strong a:focus {
  outline: none;
  text-decoration: underline;
}

.card:focus-within,
.card:hover {
  box-shadow: 0 0 0 0.25rem;
}

.card:focus-within strong a:focus {
  text-decoration: none;
}

.card small {
  display: block;
}

.card small a {
  position: relative;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

.card small a:hover,
.card small a:focus {
  font-weight: bold;
}

.card .text>*+* {
  margin-top: 0.75rem;
}

.card .text> :last-child {
  margin-top: auto;
  padding-top: 0.75rem;
}

ul {
  padding-inline-start: 0;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.border-bottom {
  color: var(--dark-green);
  border-width: 0 0 2px 0;
  border-style: solid;
}

.icon {
  width: 0.75em;
  width: 1cap;
  height: 0.75em;
  height: 1cap;
}

.with-icon {
  align-items: baseline;
  width: fit-content;
}

.with-icon .icon {
  margin-inline-end: 1rem;
}

/* footer */

.primary-footer {
  --logo-color: var(--clr-neutral-100);
}

.primary-footer-wrapper {
  display: grid;
  gap: var(--s0);
  grid-template-areas:
    "nav"
    "logo-social";
}

.primary-footer-logo-social {
  grid-area: logo-social;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--s0);
}

.primary-footer-nav {
  grid-area: nav;
}

@media (min-width: 50em) {
  .primary-footer-wrapper {
    grid-template-areas: "logo-social nav";
  }

  .primary-footer-logo-social {
    align-items: flex-start;
  }
}

@media (max-width: 50em) {
  .primary-footer-wrapper > * {
    margin-inline: auto;
  }
}

/* footer navigation */

.footer-nav {
  gap: clamp(var(--space-size-0), 15vw, var(--space-base));
}

.footer-nav a {
  text-decoration: none;
}

.footer-nav a:is(:hover, :focus) {
  color: var(--lime);
  margin-top: 1em;
}

:where(.flow :not(:first-child)) {
  margin-top: var(--flow-spacer, 3em);
}