@font-face {
  font-family: Barlow Condensed;
  src: url(/css/lib/fonts/barlowcondensed-bold.woff2) format("woff2"), url(/css/lib/fonts/barlowcondensed-bold.woff) format("woff");
  font-weight: 700;
  font-style: normal
}

:root {
  --font-plain: Helvetica Neue, Helvetica, Arial, sans-serif;
  --font-serif: Georgia, serif;
  --font-special: Barlow Condensed, Helvetica, sans-serif;
  --font-mono: Menlo, Courier, Courier New, Andale Mono, monospace;
  --color-dark: #050505;
  --color-darkish: #404040;
  --color-lightish: #e6e6e6;
  --color-light: #fafafa;
  --color-mid: grey;

  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));

  --measure: 65ch;
  --line-height: var(--ratio);
  --line-height-small: calc(0.8*var(--ratio));
  --border-thin: var(--s-5);
  --border-thick: var(--s-2);
  line-height: var(--ratio);
  font-size: calc(.333vw + 1em);
  font-family: var(--font-plain);
  background-color: var(--color-light);
  color: var(--color-dark)
}

/* Very Smol Reset */

* {
  box-sizing: border-box;
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

p {
  max-width: 60ch;
}

/* cover primitive */

.cover {
  display: flex;
  flex-direction: column;
  min-block-size: 30vh;
  padding: var(--s1);
}

.cover>* {
  margin-block: 1rem;
}

.cover>.centered {
  margin-block: auto;
}

/* stack primitive */

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack>* {
  margin-block: 0;
}

.stack>*+* {
  margin-block-start: var(--s0, 1.5rem);
}

/* cluster primitive */

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space, 1rem);
  justify-content: flex-start;
  align-items: center;
}

/* box primitive */

.box {
  padding: var(--s1);

  color: var(--color-dark);
  background-color: var(--color-light);
}

.box * {
  color: inherit;
}

.box.invert {
  color: var(--color-light);
  background-color: var(--color-dark);
}

.box.gray {
  color: var(--color-darkish);
  background-color: var(--color-lightish);
}


/* switcher primitive */

.switcher {
  display: flex;
  flex-wrap: wrap;
}

.switcher>* {
  flex-grow: 1;
  flex-basis: calc((30rem - 100%) * 999);
}

.switcher> :nth-last-child(n+ 5),
.switcher> :nth-last-child(n+ 5)~* {
  flex-basis: 100%;
}

/* frame primitive */

.frame {
  --n: 16;
  --d: 9;
  aspect-ratio: var(--n) / var(--d);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame>img,
.frame>video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.center {
  box-sizing: content-box;
  margin-inline: auto;
  text-align: start;
  max-inline-size: var(--measure);
}

/* grid */
.grid {
  display: grid;
  grid-gap: 1rem;
}

@supports (width: min(250px, 100%)) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  }
}

.with-sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s1);
}

.with-sidebar> :first-child {
  flex-grow: 1;
}

.with-sidebar> :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
}



.reel {
  display: flex;
  block-size: auto;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-color: #fff #000;
}

.reel::-webkit-scrollbar {
  block-size: 1rem;
}

.reel::-webkit-scrollbar-track {
  background-color: #000;
}

.reel::-webkit-scrollbar-thumb {
  background-color: #000;
  background-image: linear-gradient(#000 0, #000 0.25rem, #fff 0.25rem, #fff 0.75rem, #000 0.75rem);
}

.reel>* {
  flex: 0 0 auto;
}

.reel>img {
  block-size: 100%;
  flex-basis: auto;
  width: auto;
}

.reel>*+* {
  margin-inline-start: 1rem;
}

.reel.overflowing {
  padding-block-end: 1rem;
}


/* utility */

.text-align\:center {
  text-align: center;
}

.align-self\:flex-end {
  align-self: flex-end;
}

.justify-content\:space-between {
  justify-content: space-between;
}

.justify-content\:flex-end {
  justify-content: flex-end;
}

.align-items\:center {
  align-items: center;
}

.justify-content\:center {
  justify-content: center;
}

.bg-dark {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.padding\:s1 {
  padding: var(--s1);
}

.padding\:s3 {
  padding: var(--s3);
}

.aff {
  inline-size: 125px;
}

.grid-gap\:0 {
  grid-gap: 0;
}

.headline {
  padding-bottom: 0;
}

.button {
  padding: var(--s-2);
  inline-size: fit-content;
  color: var(--color-dark);
  background-color: var(--color-light);
}

.button * {
  color: inherit;
}

.button.invert {
  color: var(--color-light);
  background-color: var(--color-dark);
}