<section class="wrapper region-bottom stack js-fade">
    <div class="cards">
        <ul>
            {% for item in collections.news %}
                <li class="card">
                    <div class="img"><img src="{{ item.data.image }}" alt="{{ item.data.imageAlt }}"></div>
                    <div class="text">
                        <strong>
                            <a href="{{ item.data.url }}" target="_blank">{{ item.data.articleTitle }}</a>
                        </strong>
                        <p>{{ item.data.articleSummary }}</p>
                        <small>By
                            {{ item.data.grantee }}
                        </small>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>