<article class="wrapper border-bottom region js-fade">
  <h2 class="text-align:center">Board Members</h2>

  <ul
    class="grid mt-l-xl"
    role="list"
    style="--grid-placement: auto-fit"
    data-rows="masonry"
  >
    <li class="card flow overflow-hidden" style="--flow-space: .5em">
      <p>Robert H. McKinney</p>
      <small>Chair</small>
    </li>

    {% for item in collections.board %}

    <li class="card flow overflow-hidden">
      <p>{{ item.data.name }}</p>
      <small>{{ item.data.position }}</small>
    </li>

    {% endfor %}
  </ul>
</article>
