<section class="wrapper region-bottom stack js-fade">
    <h2 class="text-align:center" style="margin: auto;">{{ featuredNews.title }}</h2>
    <div class="grid news">
        {% for item in collections.featuredNews %}
            <div class="stack-sm">
                <div class="frame">
                    <img loading="lazy" src="{{ item.data.image }}" alt="{{ item.data.imageAlt }}">
                </div>
                <p>
                    <small>{{ item.data.grantee }}</small>
                </p>
                <h3>
                    {{ item.data.articleTitle }}
                </h3>
                <p>{{ item.data.articleSummary }}</p>
                <a class="link " href="https://{{ item.data.url }}" target="_blank">Read More</a>
            </div>
        {% endfor %}
    </div>
</section>