<article class="wrapper region js-fade flow">
  <h2 class="text-align:center" style="margin: auto">{{ featuredNews_title }}</h2>

  <ul class="grid mt-l-xl" role="list" data-rows='masonry' data-layout="50-50">
    {% for item in collections.featuredNews | reverse %}

      <li class="card flow overflow-hidden" style="--flow-space: .5em">
        <div class="frame">
          <img src="{{ item.data.image }}" alt="{{ item.data.imageAlt }}"/>
        </div>
        <p>
          <strong>
            <a href="{{ item.data.url }}">{{ item.data.articleTitle }}</a>
          </strong>
        </p>
        <p>{{ item.data.articleSummary }}</p>
        <p>By: {{ item.data.grantee }}</p>
      </li>

    {% endfor %}
  </ul>
  <div class="with-icon text-align:center" style="margin: auto">
    <a href="{{ featuredNews_buttonUrl }}" class="text-align:center link" style="margin: auto">
      {{ featuredNews_buttonText }}
    </a>
    <svg
      class="icon"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewbox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"
/>
    </svg>
  </div>
</article>