<article class="wrapper region js-fade flow">
  <div class="center flow">{% renderFile "src/content/home/news.md" %}</div>

  <ul class="grid mt-l-xl" role="list" data-rows='masonry' data-layout="50-50">
    {% for item in collections.featuredNews | reverse %}

      <li class="card flow overflow-hidden" style="--flow-space: .5em">
        <div class="frame">
          <img src="{{ item.data.image }}" alt="{{ item.data.imageAlt }}"/>
        </div>
        <p>
          <strong>
            <a href="{{ item.data.url }}">{{ item.data.articleTitle }}</a>
          </strong>
        </p>
        <p>{{ item.data.articleSummary }}</p>
        <p>By: {{ item.data.grantee }}</p>
      </li>

    {% endfor %}
  </ul>
</article>