<footer class="bg-green">
    <div class="wrapper nav cluster justify-content:space-between">
        <div>
            <p>
                &copy;
                {% year %}
                McKinney Family Foundation
            </p>
        </div>
        {# <nav>
            <ul class="cluster" role="list" aria-label="Primary">
                {% for item in footer.items %}
                    <li>
                        <a href="{{ item.url }}">{{ item.text }}</a >
                    </li>
                {% endfor %}
            </ul>
        </nav> #}
        
    </div>
</footer>