

<footer class="site-foot bg-green" role="contentinfo">
  <div class="wrapper">
    <div class="site-foot__inner">
      <a href="/" aria-label="{{ site.name }} - home" class="logo">
            <img src="../images/mff.png" alt="McKinney Family Foundation Logo">
             McKinney Family Foundation
        </a>
      <p>&copy; 2023</p>
      <nav id="footernav" class="site-foot__inner" aria-label="Footer">
          {% for item in navigation.footer %}
            <a
              href="{{ item.url }}"
              {{
              helpers.getLinkActiveState(item.url,
              page.url)
              |
              safe
              }}
              >{{ item.text }}</a
            >
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
  <!-- lang menu -->
</footer>
