<toggle-section class="padding:s0 stack" open="false">
    <h2>{{ grantees }}</h2>
    <div class="cards">
        <ul>
            {% for item in collections.grantees %}
                <li class="card">
                    <div class="img" style="height:auto;"><img src="{{ item.data.image }}" alt="{{ item.data.imageAlt }}"></div>
                    <div class="text">
                        <strong>
                            <a href="{{ item.data.url }}" target="_blank">{{ item.data.title }}</a>
                        </strong>
                        <p>{{ item.data.summary }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</toggle-section>