<toggle-section class="flow prose" open="false">
  {% renderFile "src/content/grants-and-partnerships/current-grantees.md" %}
  <ul class="grid" role="list">
    {% for item in collections.grantees %}

      <li class="card flow overflow-hidden">
        <div class="frame">
          <img src="{{ item.data.image }}" alt="{{ item.data.imageAlt }}"/>
        </div>
        <p>
          <a href="{{ item.data.url }}" target="_blank">{{ item.data.title }}</a>
        </p>
      </li>

    {% endfor %}
  </ul>
</toggle-section>