<article class="hero">
    <div class="wrapper hero__content">
        <h1>{{ hero_title }}</h1>
    </div>
    <img class="hero__media" src="{{ hero_image }}" alt=" {{ hero_imageAlt }}">
</article>

{%- if (hero_text) -%}
    <article style="margin-top: 0;" class="bg-green-1">
        <div class="wrapper region prose" style="padding-top: var(--space-m-l);padding-bottom: var(--space-m-l);">
            <div class="flow center">
                <p>{{ hero_text }}</p>
            </div>
        </div>
    </article>
{%- else -%}
{%- endif -%}