<a class="skip-link" href="#main-content"><button>Skip to content</button></a>
<header role="banner" class="bg-green">
    <div class="wrapper nav cluster justify-content:space-between">
        <a href="/" aria-label="{{ site.name }} - home" class="logo">
            <img src="../images/mff-logo.svg" alt="McKinney Family Foundation Logo">
            {# {% include "partials/logo.svg" %} #}
        </a>
        <nav>
            <ul class="cluster" role="list" aria-label="Primary">
                {% for item in navigation.items %}
                    <li>
                        <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a >
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>