<article class="wrapper region js-fade">
  <h2 class="text-align:center">Staff Members</h2>

  <ul class="grid mt-l-xl" role="list" data-rows="masonry" style="--grid-placement: auto-fit">
    {% for item in collections.staff %}

    <li class="card flow overflow-hidden stack" style="--flow-space: .5em">
      <div class="frame staff">
        <img loading="lazy" src="..{{item.data.image}}" alt="{{item.data.imageAlt}}" />
      </div>
      <p>{{ item.data.name }}</p>
      <small>{{ item.data.position }}</small>
      <small>{{item.data.email}}</small>
      <small>{{item.data.number}}</small>
    </li>

    {% endfor %}
  </ul>
</article>
