<article class="wrapper region js-fade">
  <h2 class="text-align:center">Staff Members</h2>

  <ul class="grid mt-l-xl" role="list" data-rows='masonry' data-layout="50-50">
    {% for item in collections.staff %}

      <li class="card flow" style="--flow-space: .5em;">
        <div class="frame staff">
          <img loading="lazy" src="..{{item.data.image}}" alt="{{item.data.imageAlt}}"/>
        </div>
        <p>
          <strong>{{ item.data.name }}</strong>
        </p>
        <p>{{ item.data.position }}</p>
        <p style="word-wrap:break-word">{{item.data.email}}</p>
        <p>{{item.data.number}}</p>
      </li>

    {% endfor %}
  </ul>
</article>
