<section class="wrapper region-bottom js-fade stack">
    <h2>Staff Members</h2>
    <div class="grid">
        {% for item in collections.staff %}
            <div class="stack-sm">

                <div class="frame staff">
                    <img loading="lazy" src="..{{item.data.image}}" alt="{{item.data.imageAlt}}">
                </div>
                <div class="stack-sm">
                    <h4>{{item.data.name}}</h4>

                    <p>{{item.data.position}}</p>
                    <p>
                        {{item.data.email}}
                    </p>
                    <p>
                        {{item.data.number}}
                    </p>
                </div>

            </div>

        {% endfor %}
    </div>
</section>