<section class="wrapper switcher region js-fade">
    <div class="frame">
        <img loading="lazy" src="../images/sunrise.jpg" alt="">
    </div>
    <div class="justify-content:center stack">
        <h2>Grants & Partnerships</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam.</p>
        <button>
            <a href="/our-mission">Lorem Ipsum</a>
        </button>
    </div>
</section>